<button mat-button color="primary" (click)="agregar()">Agregar</button>
<table mat-table [dataSource]="datosEntidad" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones" *ngIf="mostrarBotones">
		<th mat-header-cell *matHeaderCellDef>Acciones </th>
		<td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editar(element)" >
                <mat-icon>launch</mat-icon>        
            </button>
            <button mat-icon-button (click)="eliminar(element)">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
