<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Maestras</mat-toolbar>
    <!-- <mat-nav-list>
      <a mat-list-item href="#">Tipos de identificación</a>
      <a mat-list-item href="#">Generos</a>
      <a mat-list-item href="#">Medicos Tratantes</a>
    </mat-nav-list> -->
    <mat-nav-list>
      <a mat-list-item href="#">Tipo Personas</a>
      <a mat-list-item href="#">Generos</a>
      <a mat-list-item href="#">Medicos</a>
      
    </mat-nav-list>
    <mat-toolbar>Otros</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItemsPacientes" [routerLink]="item.url">
        <mat-icon>{{item.icon}}</mat-icon> {{item.label}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SoftCaribbean</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
